@model DisplayModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Inky Desk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="month">
        @Model.Month
    </div>
    <div class="date">
        @Model.Date
    </div>
    <div class="day">
        @Model.Day
    </div>

    <div class="events">
        @foreach (var evt in Model.Events)
        {
            @if (evt.IsAllDay)
            {
                <div class="event all-day">
                    <div class="title">
                        @evt.Title
                    </div>
                </div>
            }
            else
            {
                <div class="event">
                    <div class="time">
                        @evt.Start.ToString("h:mm t").ToLower()
                    </div>
                    <div class="title">
                        @evt.Title
                    </div>
                    @if (!string.IsNullOrWhiteSpace(evt.Location))
                    {
                        <div class="location">
                            @evt.Location
                        </div>
                    }
                </div>
            }
        }
    </div>
</body>

</html>